@charset "UTF-8";
body > #root > div {
  height: 100vh;  
}
.App {
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 100px 1fr;
}

.header{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  align-self: flex-end;
  margin-left: 50px;
  margin-bottom: 15px;
  font-family: "jubilat", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
}

#animationContainer{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative;
  left: 0;
  top: 0;
}

#trampoline{
  height: 80vh;
  margin-left: 50px;
  position: relative;
  top: 0;
  left: 0;
}

.llamito{
  height: 45vh;
  position: absolute;
  top: 145px;
  left: 325px;
}
.animated {
  -webkit-animation-duration: 175ms;
  animation-duration: 175ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -200px, 0);
    transform: translate3d(0, -200px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -200px, 0);
    transform: translate3d(0, -200px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.wrapper{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 50px;
  border: solid 1px #4A494E;
  margin-left: 50px;
  margin-right: 10px;
  margin-bottom: 65px;
  border-radius: 10px 5px 5px 10px;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  background-color: #E7E3D9;
  
}
#progress {
  width: 100%;
  height: 0px;
  border-radius: 10px 5px 5px 10px;
  background-color: #C6C63E;
  text-align: center;
  line-height: 30px; 
  color: white; 
  position: relative;
}

/* Extra Small and up (Portrait Phones) */

/* Small and up (Landscape Phones) */
@media (min-width: 576px) {

}

/* Medium and up (Tablets) */
@media (min-width: 768px) {

}

/* Large and up (Desktops) */
@media (min-width: 992px) {

}

/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {

}
