body > #root > div {
  height: 100vh;  
}
.App {
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 100px 1fr;
}

.header{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  align-self: flex-end;
  margin-left: 50px;
  margin-bottom: 15px;
  font-family: "jubilat", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
}

.imgBox{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative;
  left: 0;
  top: 0;
}

#trampoline{
  height: 80vh;
  margin-left: 50px;
  position: relative;
  top: 0;
  left: 0;
}

#llamito{
  height: 45vh;
  position: absolute;
  top: 225px;
  left: 325px;
}

/* Extra Small and up (Portrait Phones) */

/* Small and up (Landscape Phones) */
@media (min-width: 576px) {

}

/* Medium and up (Tablets) */
@media (min-width: 768px) {

}

/* Large and up (Desktops) */
@media (min-width: 992px) {

}

/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {

}
